<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RugbyLeagueSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="RugbyLeagueSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://rbl.webservice.sportsflash.com.au/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="RugbyLeagueSoap"
                contract="RugbyLeagueWebService.RugbyLeagueSoap" name="RugbyLeagueSoap" />
            <endpoint address="http://rbl.webservice.sportsflash.com.au/WebService.asmx"
                binding="customBinding" bindingConfiguration="RugbyLeagueSoap12"
                contract="RugbyLeagueWebService.RugbyLeagueSoap" name="RugbyLeagueSoap12" />
        </client>
    </system.serviceModel>
</configuration>